* {
  margin: 0;
  padding: 0;
}

/* body {
    background: url('https://images.unsplash.com/photo-1636953056323-9c09fdd74fa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  } */

#navigation,
.navbar .navbar-expand-lg {
  background-image: url("https://wallpaperaccess.com/full/1860753.jpg");
}

.nav-item {
  font-size: 20px;
  font-weight: bold;
  background: -webkit-linear-gradient(
    left top,
    rgb(133, 197, 186),
    rgb(26, 77, 46)
  );
  background: linear-gradient(
    to bottom right,
    rgb(170, 230, 220),
    rgb(26, 77, 46)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
