.modal {
  width: 70vw;
  height: 70vh;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-dialog {
  overflow-y: initial !important;
}
.modal-body {
  height: 90vh;
  overflow-y: auto;
}
